version: '3'
services:
  magento-web:
    build: .
    container_name: magento
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
    networks:
      - spider_web
networks:
  spider_web:
    external: true
