<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="alphateam_sales_order_details_listing" xsi:type="array">
                    <item name="created_at" xsi:type="string">created_at</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AlphaTeam\Report\Model\ReportGeneratorPool">
        <arguments>
            <argument name="generators" xsi:type="array">
                <item name="price_report" xsi:type="object">
                    AlphaTeam\Report\Model\ReportGeneratorPool\PriceReport
                </item>
                <item name="activity_report" xsi:type="object">
                    AlphaTeam\Report\Model\ReportGeneratorPool\ActivityReport
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Price Report -->
    <virtualType name="AlphaTeam\Report\Model\ResourceModel\PriceAttribute"
                 type="AlphaTeam\Report\Model\ResourceModel\AttributeReport">
        <arguments>
            <argument name="attributeCode" xsi:type="string">price</argument>
            <argument name="productType" xsi:type="string">simple</argument>
        </arguments>
    </virtualType>
    <type name="AlphaTeam\Report\Model\DataProvider\PriceDataProvider">
        <arguments>
            <argument name="resource" xsi:type="object">AlphaTeam\Report\Model\ResourceModel\PriceAttribute</argument>
        </arguments>
    </type>
    <type name="AlphaTeam\Report\Model\ReportGeneratorPool\PriceReport">
        <arguments>
            <argument name="dataProvider" xsi:type="object">AlphaTeam\Report\Model\DataProvider\PriceDataProvider</argument>
        </arguments>
    </type>
    <!-- Activity Report -->
    <virtualType name="AlphaTeam\Report\Model\ResourceModel\ActivityAttribute"
                 type="AlphaTeam\Report\Model\ResourceModel\AttributeReport">
        <arguments>
            <argument name="attributeCode" xsi:type="string">activity</argument>
            <argument name="productType" xsi:type="string">simple</argument>
        </arguments>
    </virtualType>
    <type name="AlphaTeam\Report\Model\DataProvider\ActivityDataProvider">
        <arguments>
            <argument name="resource" xsi:type="object">AlphaTeam\Report\Model\ResourceModel\ActivityAttribute</argument>
        </arguments>
    </type>
    <type name="AlphaTeam\Report\Model\ReportGeneratorPool\ActivityReport">
        <arguments>
            <argument name="dataProvider" xsi:type="object">AlphaTeam\Report\Model\DataProvider\ActivityDataProvider</argument>
        </arguments>
    </type>
</config>
