<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlphaTeam\CashbackWallet\Api\Data\CashbackWalletInterface"
                type="AlphaTeam\CashbackWallet\Model\CashbackWallet"/>
    <preference for="AlphaTeam\CashbackWallet\Api\CashbackWalletRepositoryInterface"
                type="AlphaTeam\CashbackWallet\Model\CashbackWalletRepository"/>
    <virtualType name="AlphaTeam\CashbackWallet\Model\ResourceModel\CashbackWallet\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alphateam_cashbackwallet_balance</argument>
            <argument name="resourceModel" xsi:type="string">AlphaTeam\CashbackWallet\Model\ResourceModel\CashbackWallet\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="alphateam_cashbackwallet_listing_data_source" xsi:type="string">
                    AlphaTeam\CashbackWallet\Model\ResourceModel\CashbackWallet\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="AlphaTeam\CashbackWallet\Api\Data\CashbackWalletTransactionInterface"
                type="AlphaTeam\CashbackWallet\Model\CashbackWalletTransaction"/>
</config>
